<?php
define('SEMNAS_ENV', 'development');

define('SEMNAS_URL', '');

define('SEMNAS_DB_NAME', '');
define('SEMNAS_DB_USER', '');
define('SEMNAS_DB_PASS', '');
define('SEMNAS_DB_PREFIX', 'semnas_');

define('SEMNAS_SESS_ID', 'semnas_session');
define('SEMNAS_SESS_PATH', NULL);

define('SEMNAS_SSO_APP_ID', 'semnas');
define('SEMNAS_SSO_APP_KEY', 'KbN43kbTPTUXQDepwFaw08zJv0HI4mjuXcyx3TZqp8NDxlyqvjpRGl9yBFmJEpqN');
define('SEMNAS_SSO_NAME', 'P!NGFEST SSO');
define('SEMNAS_SSO_URL', 'http://localhost/~michael/pingfest/app/index.php/auth');

